.About {
  background-color: var(--primary);
  margin: 0 -15rem 6em -15rem;
  padding: 3em 15em;
  display: flex;
  
  justify-content: space-between;
}
.title_description {
  padding: 2em 0;
  width: 23rem;
}
.title_description h1 {
  font-family: "Roboto";
  font-weight: 500;
  font-style:"Medium";
  line-height: 65px;
  font-size: 56px;
  color: var(--secondary);
  margin: 0;
}
.title_description h2 {
  font-family: var(--font-p);
  font-weight: 400;
  font-style:oblique;
  font-size: 32px;
  line-height: 38px;
  color: var(--Wh);
  margin: 0;
}
.title_description p {
  font-family: var(--font-s);
  font-weight: 400;
  font-style: oblique;
  font-size: 20px;
  color: var(--Wh);
  margin: 1 0 0 0;
}

.two_img {
  width: 17rem;
  max-height: 21rem;
  position: relative;
  top:-3rem;
}
.two_img img {
  width: 12rem;
  height: 18rem;
  padding: 2rem;
  border-radius: 45px;
  -webkit-border-radius: 45px;
  -moz-border-radius: 45px;
  -ms-border-radius: 45px;
  -o-border-radius: 45px;
}
.adrian_img{
position: absolute;
top:0;
right:0;
}
.mario_img{
  position: absolute;
  top:5rem;
 right:8rem;
}