.Header {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
  padding: 2rem 0;
}
.nav {
  display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 28px;
}
.nav a {
  font-size: 0.8em;
  text-decoration: none;
  color: #000;
  font-weight: 700;
}