.nav-footer {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 15px;
}
.nav-footer a {
  font-size: 0.8em;
  text-decoration: none;
  color: #000;
  font-weight: 700;
}
.logo{
    width: 10rem;
    padding: 1rem 0;
    
}
.footer-row{
display: flex;
justify-content: center;
gap:1%;
margin:3rem 0;
   
    
}
.tex-footer{
    display: flex;
    justify-content: center;
    align-items:baseline;
    gap: 8rem;
    width:70rem;

}
.list {
  list-style: none;
  padding: 0;
}
h5{
    text-align: center;
}