.title_test h1{
   font-weight: 500;
   line-height: 43px;
   text-align: center;
}
.Clients{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap:1rem;
    width: 100%;
    margin: 0 auto;
}
.card-profile{
    align-items: flex-start;
}
.profile{
    display: flex;
    justify-content: center;
}