* {
  --primary: #495e57;
  --secondary: #f4ce14;
  --Or: #ee9972;
  --Gr: #fbdabb;
  --Wh: #edefee;
  --Gry: #333333;
}
:root {
  --font-p: "Markazi Text";
  --font-s: "Karla";
}
body {
  font-family: var(--font-p);
  margin: 0 10rem;
  padding: 0;
  box-sizing: border-box;
}
.button_Y{
  font-family: var(--font-s);
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  height: fit-content;
  border: transparent;
  background-color: var(--secondary);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  padding: 0.5rem 1.4rem;
}
@media only screen and (max-width: 860px)  {
.Rest_img,.two_img,.logo{
  display:none;
}
.footer-row{
  margin:0 -10rem;
}
.tex-footer,.Header{
    justify-content: space-around;
    width: 50rem;
} 
body{
  margin:0 2rem;
}

}
@media only screen and (max-width: 340px)  {
body{
  margin:0 1rem;
}
.clients{
  margin: 0 10rem;
}
}


